<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="apihost" value="http://localhost:5000" />
		<!--就医地医保区划 -->
		<add key="mdtrtarea_admvs" value="421003" />
		<!--参保地医保区划 -->
		<add key="recer_sys_code" value="1" />
		<!--接口版本号 -->
		<add key="infver" value="v2.0" />
		<!--经办人类别 1-经办人；2-自助终端；3-移动终端 -->
		<add key="opter_type" value="1" />
		<!--定点医药机构编号 -->
		<add key="fixmedins_code" value="H42100300513" />
		<!--定点医药机构名称 -->
		<add key="fixmedins_name" value="荆州市中心医院" />
		
	    <!-- 注销时长 秒 -->
		<add key="LogOutSeconds" value="3600" /> 
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<log4net>
		<!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
		<!-- Set root logger level to ERROR and its appenders -->
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingFileTracer" />
		</root>
		<!-- Print only messages of level DEBUG or above in the packages -->
		<appender name="RollingFileTracer" type="log4net.Appender.RollingFileAppender,log4net">
			<param name="File" value="App_Data/Log/" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Composite" />
			<param name="MaxSizeRollBackups" value="10" />
			<param name="MaximumFileSize" value="1MB" />
			<param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
			<param name="StaticLogFileName" value="false" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>
	</log4net>
</configuration>