<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="apihost" value="http://localhost:5000" />
    <!--<add key="apihost" value="http://10.102.41.142:5000" /> 测试部地址-->
    <!--<add key="apihost" value="http://10.102.41.144:5000" /> 产品地址-->
    <add key="client_name" value="荆州市中医医院" />
    <add key="client_version" value="v1.0" />
    <add key="client_ghsearchkey_length" value="1" />
    <!-- 医保配置-->
    <!--就医地医保区划 -->
    <add key="mdtrtarea_admvs" value="421003" />
    <!--参保地医保区划 -->
    <add key="recer_sys_code" value="1" />
    <!--接口版本号 -->
    <add key="infver" value="v2.0" />
    <!--经办人类别 1-经办人；2-自助终端；3-移动终端 -->
    <add key="opter_type" value="1" />
    <!--定点医药机构编号 -->
    <add key="fixmedins_code" value="H42100300513" />
    <!--定点医药机构名称 -->
    <add key="fixmedins_name" value="荆州市中心医院" />
    <!--是否可以增加诊断 -->
    <add key="edit_diseinfo" value="0" />
    <!--医保身份唯一 -->
    <add key="yb_identity_only" value="0" />
    <!-- 注销时长 秒 -->
    <add key="LogOutSeconds" value="3600" />
    <!-- 挂号收费打印报表编号 -->
    <add key="mzgh_report_code" value="220001" />
    <!-- 门诊收费打印报表编号 -->
    <add key="mzsf_report_code" value="220007" />
    <!-- 挂号日结报表编号-->
    <add key="ghrj_report_code" value="220008" />
    <!-- 收费日结报表编号-->
    <add key="sfrj_report_code" value="220010" />
    <!-- 支付类型-->
    <!--<add key="pay_weixin" value="c" />
		<add key="pay_zhifubao" value="c" />
		<add key="pay_yinlian" value="3" />
		<add key="pay_yibao" value="6" />
		<add key="pay_xianjin" value="1" />-->
    <!-- 电子发票配置-->
    <add key="ip" value="127.0.0.1" />
    <add key="port" value="13526" />
    <add key="weburl" value="http://10.101.188.105:7001/medical-web" />
    <add key="dllName" value="NontaxIndustry" />
    <add key="func" value="CallNontaxIndustry" />
    <add key="appid" value="JZSZXYY0561116" />
    <add key="key" value="08d7323b667db6b93bcb1be7d7" />
    <!--<add key="appid" value="JZSZYYY0752374" />
		<add key="key" value="05391a9b86816bf55f36866e0b" />-->
    <add key="version" value="1.0" />
    <!--开票点编码-->
    <add key="placeCode" value="001" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <!-- Set root logger level to ERROR and its appenders -->
    <root>
      <level value="Debug" />
      <appender-ref ref="RollingFileTracer" />
    </root>
    <!-- Print only messages of level DEBUG or above in the packages -->
    <appender name="RollingFileTracer" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="App_Data/Log/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Composite" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="1MB" />
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>