# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib 

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a 

# Executables
*.exe
*.out
*.app
/Data
/packages
/Test
/Api
/CoreTest/bin/Debug/netcoreapp3.1
/CoreTest/obj
/CoreData/bin
/CoreData/obj
/CoreApi/bin
/CoreApi/obj
/Client/bin
/Client/obj
/CoreApi/Properties/PublishProfiles
/Mzsf/bin
/Mzsf/obj
/MzsfData/bin
/MzsfData/obj
/MzsfApi/bin
/MzsfApi/obj
/.vs/Mzgh/v17/.suo
/CoreTest/bin/
/FastReportClient/bin
/FastReportClient/obj
/FastReportClient/obj
/FastReportClient/obj/
/Ybjs/obj
/MzInstaller/Release
/MzInstaller/Debug
/Ybjs/bin
/Setup1
/MainFrame/bin/
/MainFrame/obj/
/MainFrame/obj/
/MainFrame/bin
