<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		 <!--<add key="apihost" value="http://localhost:5000" />-->
    <add key="apihost" value="http://10.102.41.142:5000" /> <!--测试地址-->
    <!--<add key="apihost" value="http://10.102.41.144:5000" /> 产品地址-->
	</appSettings>
</configuration>